In [1]:
# variables  only A to Z , _

In [14]:
phone_price=100
name="mathi"
print(name,",",phone)

mathi , 100

In [20]:
watch,watch1=5000,4000
print(watch)
print(watch1)
print(watch,watch1)

5000
4000
5000 4000

In [3]:
import math
g=int(input("enter the value"))
print("the value is")
math.factorial(g)

enter the value5
the value is

120

In [22]:
a="ljlkhl,lkhkjsbvmjlh"
b="huieghjhuidbiutsuifh,mkj"
print(a,"the sentance",b)
#print(c)
print(len(a))
print(len(b))
print(len(a+b))

ljlkhl,lkhkjsbvmjlh the sentance huieghjhuidbiutsuifh,mkj
19
24
43

In [8]:
a="mathi"
print(a[1])

a

In [29]:
a="mathi study in mca"
print(len(a))
print(a[4:16])

18
i study in m

In [30]:
para="""     mathi study in mca our own way and frineds supports him        """ 
print(para)
print(len(para))
print(para.strip())

     mathi study in mca our own way and frineds supports him
68
mathi study in mca our own way and frineds supports him

In [31]:
print(a.upper())

MATHI STUDY IN MCA

In [32]:
print(a.lower())

mathi study in mca

In [8]:
e="cnvmdlhhm"
print(upper(e))

NameError: name 'upper' is not defined

In [34]:
r="mathi"
print(r.replace("thi","ma"))

mama

In [10]:
r="mathi"
print(r.split("t"))

['ma', 'hi']

In [38]:
h1="mathi study mca"
print("mca"in h1)

True

In [41]:
h2=" mathavana in work"
print(h1+ h2)

mathi study mca mathavana in work

In [45]:
# boolean
print(1<10)
print(10==10)

True
True

In [4]:
# list
fruit=["app","mango","cher","ban","app"]
print(fruit)
print(fruit[3])

['app', 'mango', 'cher', 'ban', 'app']
ban

In [5]:
fruit.append("mathi")

In [6]:
print(fruit)

['app', 'mango', 'cher', 'ban', 'app', 'mathi']

In [18]:
fruit[3]=("mama")

In [19]:
print(fruit)

['app', 'mango', 'cher', 'mama', 'app', 'mathi']

In [8]:
# tuple
fru=("a","a","b","c","d","e","f")
print(fru)

('a', 'a', 'b', 'c', 'd', 'e', 'f')

In [ ]:
## function

In [5]:

def gan(g):
    print(g)
g=1,2,3,4,5    
gan(g)

(1, 2, 3, 4, 5)

In [3]:
a='1_111'
print(float(a))

1111.0

In [11]:
def mat(a,b,d):
    c=a+b
    print(c)
    print("hi,"+d)
    
def math(a,b):
    c=a-b
    print(c)

a=int(input("enter num "))
b=int(input("enter num "))
d=input("enter any string ")
mat(a,b,d)
math(a,b)

enter num 20
enter num 5
enter any string mathi
25
hi,mathi
15

In [13]:
def arun():
    return 100
print(arun())

100

In [15]:
def arun(a):
    return a*100
print(arun(5))

500

In [21]:
m=["apple","stawbeery","orange","mango"]
for i in m:
    print(i)

apple
stawbeery
orange
mango

In [14]:
m=["apple","stawbeery","orange","mango"]
for i in m:
    for j in i:
        print(j,"*",end="")
    print()

a *p *p *l *e *
s *t *a *w *b *e *e *r *y *
o *r *a *n *g *e *
m *a *n *g *o *

## break

In [42]:
m=input("enter name ")
for i in m:
    if i==",":
        print("it's in")
    else:
        print("it's not in")

enter name hi, mathavan
it's not in
it's not in
it's in
it's not in
it's not in
it's not in
it's not in
it's not in
it's not in
it's not in
it's not in
it's not in

In [43]:
m=input("enter name ")
for i in m:
    if i==",":
        print("it's in")
        break
    else:
        print("it's not in")

enter name hi, mathavan
it's not in
it's not in
it's in

In [15]:
m=input("enter name ")
for i in m:
    if i==",":
        break
        print("it's in")
        
    else:
        print("it's not in")

enter name hi,mathavan
it's not in
it's not in

In [16]:
m=input("enter name ")
for i in m:
    if i==",":
        print("it's in")
        continue
    else:
        print("it's not in")

enter name hi,mathivanan
it's not in
it's not in
it's in
it's not in
it's not in
it's not in
it's not in
it's not in
it's not in
it's not in
it's not in
it's not in
it's not in

In [45]:
m=input("enter name ")
for i in m:
    if i==",":
        continue
        print("it's in")
    else:
        print("it's not in")

enter name hi, mathavan
it's not in
it's not in
it's not in
it's not in
it's not in
it's not in
it's not in
it's not in
it's not in
it's not in
it's not in

In [44]:
m=input("enter name ")
for i in m:
    if i==",":
        print("it's in")
        continue
    else:
        print("it's not in")

enter name hi, mathavan
it's not in
it's not in
it's in
it's not in
it's not in
it's not in
it's not in
it's not in
it's not in
it's not in
it's not in
it's not in

In [21]:
for i in range(5):
    print(i)
    for j in range(2):
        print(j)

0
0
1
1
0
1
2
0
1
3
0
1
4
0
1

## while

In [22]:
i=1
while i<=5:
    print(i)
    i += 1

1
2
3
4
5

In [ ]:
## example

In [5]:
a=int(input("enter your birth year"))
b=a+30

print("your 30 year complete in the year of", b)

enter your birth year2001
your 30 year complete in the year of 2031

In [26]:
def add(a):
    b=a+30
    print("your 30 year complete in the year of", b)
    
a=int(input("enter your birth you year "))  
add(a)

enter your birth you year 2500
your 30 year complete in the year of 2530

In [19]:
def star(a):
    k=a-1
    for i in range(0,a):
        
        for j in range(0,k):
            print(end=" ")
        k=k-1
        for j in range(0,i+1):
            print("*",end="")
        print()
a=int(input("enter num"))
star(a)

enter num5
    *
   **
  ***
 ****
*****

In [41]:
for i in range(5):
    print(8)
    for j in range(5):
        print("*",end=" ")
    print()

8
* * * * *
8
* * * * *
8
* * * * *
8
* * * * *
8
* * * * *

In [3]:
for i in range(0,5):
    for j in range(0,5):
        print("*",end="")
    print()

*****
*****
*****
*****
*****

In [13]:
def add(n):
    a=0
    b=1
    c=1
    for i in range(n):
       
        print(c)
        c=a+b
        a=b
        b=c
        
add(10)

1
1
2
3
5
8
13
21
34
55

In [14]:
def fib(n):
    a=0
    b=-1
    c=1
    for i in range(n):
        a=b 
        b=c
        c=a+b
        print(c)
fib(10)

0
1
1
2
3
5
8
13
21
34

In [ ]:
a=-1        a=1        a=0       a=1
b=1         b=0        b=1       b=1
c=-1+1      c=1+0      c=0+1     c=1+1
c=0         c=1        c=1       c=2

In [32]:
def ma(n):
    for i in range(n):
        if i%2==0:
            print(i,"is even number ")
        else:
            print(i,"odd numbers")
ma(20)

0 is even number
1 odd numbers
2 is even number
3 odd numbers
4 is even number
5 odd numbers
6 is even number
7 odd numbers
8 is even number
9 odd numbers
10 is even number
11 odd numbers
12 is even number
13 odd numbers
14 is even number
15 odd numbers
16 is even number
17 odd numbers
18 is even number
19 odd numbers

In [35]:
for i in range(5):
    for j in range(5,i,-1):
        print("*",end="")
    print()

*****
****
***
**
*

In [16]:
n=int(input("enter num "))
k=n
for i in range(n):
    for j in range(0,i):
        print(" ",end="")
    for j in range(k,0,-1):
        print("*",end="")
    k=k-1
    print()

enter num 5
*****
 ****
  ***
   **
    *